/specs

# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
coverage
playwright-report
test-results
blob-report
playwright/.cache
*.local
.env
.env.*
!.env.example
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
